.contact_flex_container {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  margin: 120px;
}

.contact_flex_item_left {
  background-color: gray;
  padding: 10px;
  flex: 50%;
}

.contact_flex_item_right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}

.contact_icons {
  margin-top: 12px;
  padding-right: 250px;
  font-size: 24px;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .contact_flex_container {
    flex-direction: column;
  }
}


/* About page section */
