.column {
    float: left;
    width: 40%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 40%;
  }

  .section_service_appoinment{
    margin-top: 50px;
  }

  